<form #f="ngForm" (submit)="submit(f)">
  <h1>Register</h1>
  <fieldset>
    <h2>Personal Details</h2>
    <label for="name">Name <sup>*</sup></label>
    <input #name id="name" name="name" [(ngModel)]="regRequest.name" required />
    <small [hidden]="!touchedAndInvalid(name)">This field is required</small>
    <label for="dob">Date of Birth <sup>*</sup></label>
    <input #dob id="dob" name="dob" type="date" [(ngModel)]="regRequest.dob" required/>
    <small [hidden]="!touchedAndInvalid(dob)">This field is required</small>
    <label for="nationality">Nationality</label>
    <select #nationality id="nationality" name="nationality" [(ngModel)]="regRequest.nationality" required>
      <option *ngFor="let country of countries" [value]="country.value">{{country.viewValue}}</option>
    </select>
    <small [hidden]="!touchedAndInvalid(nationality)">This field is required</small>
  </fieldset>

  <fieldset>
    <h2>Contact Details</h2>

    <label for="email">Email</label>
    <input id="email" name="email" [(ngModel)]="regRequest.email" (blur)="contactFieldChanged(f)"/>

    <label for="tel">Telephone</label>
    <input id="tel" name="tel" [(ngModel)]="regRequest.tel" (blur)="contactFieldChanged(f)"/>

    <div *ngIf="eitherFilled">
      <span>Contact Preference</span>
      <input type="radio" name="pref" id="pref_email"
              #pref_email
              *ngIf="regRequest.email.length > 0"
              [value]="regRequest.email"
              [disabled]="emailFilledTelEmpty"
              [checked]="emailFilledTelEmpty || regRequest.email.length > 0"
              (change)="selectPref(pref_email.value)">
      <label for="pref_email">{{regRequest.email}}</label>
      <input type="radio" name="pref" id="pref_tel"
             #pref_tel
             *ngIf="regRequest.tel.length > 0"
             [value]="regRequest.tel"
             [disabled]="telFilledEmailEmpty"
             [checked]="telFilledEmailEmpty"
             (change)="selectPref(pref_tel.value)">
      <label for="pref_tel">{{regRequest.tel}}</label>
    </div>
    <small [hidden]="!showContactError">Please complete one of the fields</small>
  </fieldset>
  <button>Submit</button>
</form>
