/*header {*/
/*  height: 4em;*/
/*  background-color: #efefef;*/
/*  line-height: 4em;*/
/*  padding-left: 1em;*/
/*}*/
body {
  background: #ddd;
  font-font: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

header, footer {
  background: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

header {
  border-bottom: 1px solid #fff;
  padding: 1em;

  h1 {
    margin: 0;
  }
}

main {
  padding: 1em 1em 5em;
  background: silver;
}

footer {
  border-top: 1px solid #fff;
  bottom: 0;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  text-align: right;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 2em;
}
